.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
icon.png

vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
Server/
LICENSE
CHANGELOG.md
notes.txt
todo.txt
Procfile
RAEDME.md

